.wrapper {
  max-width: 1200px;
  margin: auto;

  .pageNumber {
    display: flex;
    justify-content: flex-end;
    color: #fff;
  }
}
.statusWrapper {
  display: flex;
  justify-content: flex-end;
  .resetFilters {
    display: flex;
    align-items: center;
    color: #fff;
    cursor: pointer;
  }
}
.footerWrapper {
  display: flex;
  div {
    flex: 1;

    .pagination {
      display: flex;
      justify-content: center;
      .hidden {
        display: none;
      }
      .paginateItem {
        margin-right: 10px;
        list-style: none;
        border-radius: 50%;
        width: 10px;
        height: 10px;
        font-size: 1px;
        background-color: #fff;
        cursor: pointer;
      }
      .active {
        background-color: #46d7b0;
      }
    }
  }
}
